@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffff;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
}